@import "./variable";

.teaser-slice-blank {
  width: 100%;
}

.tsb__divider {
  margin-top: space-scalar(10);
  margin-bottom: space-scalar(5);
}

.tsh__sub {
  margin-bottom: space-scalar(10);
}

.tsb__item {
  //
}
