@import "./variable";

.teaser-text {
  text-align: left;
  //
  &.teaser-text--large {
    //
  }
}

.tt__title {
  //
  &.tt__title--full {
    margin-bottom: space-scalar(4);
  }
}

.tt__meta {
  margin-top: space-scalar(4);
}
