$kicker-font-sizes: () !default;
$kicker-font-sizes: map-deep-merge(
  (
    'small': (
      'mobile': 1rem,
      'desktop': 1rem,
    ),
    'medium': (
      'mobile': 1.2rem,
      'desktop': 1.2rem,
    ),
    'large': (
      'mobile': 1.5rem,
      'desktop': 1.5rem,
    ),
  ),
  $kicker-font-sizes
);

$kicker-line-heights: () !default;
$kicker-line-heights: map-deep-merge(
  (
    'small': (
      'mobile': 1.3,
      'desktop': 1.3,
    ),
    'medium': (
      'mobile': 1.3,
      'desktop': 1.3,
    ),
    'large': (
      'mobile': 1.3,
      'desktop': 1.3,
    ),
  ),
  $kicker-line-heights
);
