@import "./variable";

.teaser-basic {
  position: relative;
  z-index: 1;
  width: 100%;
}

.tb__inner {
  position: relative;
}

.tb__area {
  //
}

.tb__text-wrap {
  padding-top: space-scalar(5);
}

.tb__img {
  //
}

