.col {
  width: 100%;

  // responsive gutter
  @each $size, $width in $grid-breakpoints {
    //
    @media all and (min-width: #{$width}) {

      // gutter
      $gutter: map-deep-get($grid-gutters, $size);

      padding-right: calc(#{$gutter} / 2);
      padding-left: calc(#{$gutter} / 2);

      // size class
      $n: $grid-columns;

      @while $n > 0 {
        &--span-#{$size}-#{$n} {
          flex: 0 0 $n / $grid-columns * 100%;
          max-width: $n / $grid-columns * 100%;
        }

        &--order-#{$size}-#{$n} {
          order: $n
        }

        $n: $n - 1;
      }

      $m: $grid-columns;

      @while $m >= 0 {
        &--offset-#{$size}-#{$m} {
          margin-left: $m / $grid-columns * 100vw;
        }
        $m: $m - 1;
      }

    }
  }

  // no gutter
  .row.row--no-gutter-touch & {
    @include touch {
      padding-right: 0;
      padding-left: 0;
    }
  }
  //
  .row.row--no-gutter-desktop & {
    @include desktop {
      padding-right: 0;
      padding-left: 0;
    }
  }
}
