.col {
  // responsive gutter
  @each $size, $width in $breakpoints {
    //
    @media all and (min-width: #{$width}) {

      // gutter
      $gutter: map-deep-get($grid-gutters, $size);

      padding-right: calc(#{$gutter} / 2);
      padding-left: calc(#{$gutter} / 2);

      // size class
      $n: $grid-columns;

      @while $n > 0 {
        &.col--span-#{$size}-#{$n} {
          flex: 0 0 calc(#{$n} / #{$grid-columns} * (90vw + #{$gutter}));
          max-width: calc(#{$n} / #{$grid-columns} * (90vw + #{$gutter}));
          //
          .layout.layout--full & {
            flex: 0 0 $n / $grid-columns * 100vw;
            max-width: $n / $grid-columns * 100vw;
          }
        }

        &--order-#{$size}-#{$n} {
          order: $n
        }

        $n: $n - 1;
      }

      $m: $grid-columns;

      @while $m >= 0 {
        &--offset-#{$size}-#{$m} {
          margin-left: calc(#{$m} / #{$grid-columns} * (90vw + #{$gutter}));
          //
          .layout.layout--full & {
            margin-left: $m / $grid-columns * 100vw;
          }
        }
        $m: $m - 1;
      }

    }
  }

  @include fullHd {
    @each $size, $width in $breakpoints {
      // size class
      $o: $grid-columns;

      @while $o > 0 {
        &.col--span-#{$size}-#{$o} {
          flex: 0 0 $o / $grid-columns * 100%;
          max-width: $o / $grid-columns * 100%;
        }

        $o: $o - 1;
      }

      $p: $grid-columns;

      @while $p >= 0 {
        &--offset-#{$size}-#{$p} {
          margin-left: $p / $grid-columns * 100%;
        }
        $p: $p - 1;
      }
    }
  }

  // no gutter
  .row.row--no-gutter-touch & {
    @include touch {
      padding-right: 0;
      padding-left: 0;
    }
  }
  //
  .row.row--no-gutter-desktop & {
    @include desktop {
      padding-right: 0;
      padding-left: 0;
    }
  }
}
