.layout {
  display: flex;
  //
  @each $size, $width in $breakpoints {
    @media all and (min-width: #{$width}) {
      $gutter: map-deep-get($grid-gutters, $size);

      padding-right: calc(#{$gutter} / 2);
      padding-left: calc(#{$gutter} / 2);
    }
  }
  //
  &:not(.layout--full) {
    flex-flow: wrap;
    width: calc(100% - 5vw * 2);
    max-width: $layout-max-width;
    margin-right: 5vw;
    margin-left: 5vw;
    //
    @include fullHd {
      @include make-container;
    }
  }
}
