$hed-font-sizes: () !default;
$hed-font-sizes: map-deep-merge(
  (
    'small': (
      'mobile': 2rem,
      'desktop': 2rem,
    ),
    'medium': (
      'mobile': 4rem,
      'desktop': 4rem,
    ),
    'large': (
      'mobile': 8rem,
      'desktop': 8rem,
    ),
  ),
  $hed-font-sizes
);

$hed-line-heights: () !default;
$hed-line-heights: map-deep-merge(
  (
    'small': (
      'mobile': 1.5,
      'desktop': 1.5,
    ),
    'medium': (
      'mobile': 1.5,
      'desktop': 1.5,
    ),
    'large': (
      'mobile': 1.5,
      'desktop': 1.5,
    ),
  ),
  $hed-line-heights
);
