@import "./variable";

@include scheme(the-button) using($material) {
  color: map-deep-get($material, 'text', 'primary');

  &.the-button--disabled {
    color: map-deep-get($material, 'buttons', 'disabled') !important;

    &:not(.the-button--flat):not(.the-button--text):not(.the-button--outlined) {
      // default disabled background color
      background-color: map-deep-get($material, 'buttons', 'focused') !important;
    }
  }

  &:not(.the-button--flat):not(.the-button--text):not(.the-button--outlined):not(.the-button--color) {
    // default background color
    background-color: map-deep-get($material, 'buttons', 'default');
  }

  &.the-button--outlined.the-button--text {
    border-color: map-get($material, 'dividers');
  }

  &.the-button--icon {
    color: map-deep-get($material, 'icons', 'active');
  }

  @include states($material);
}

.the-button {
  position: relative;
  display: inline-flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  font-weight: $btn-font-weight;
  text-decoration: none;
  text-indent: $btn-letter-spacing;
  text-transform: $btn-text-transform;
  letter-spacing: $btn-letter-spacing;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border-radius: $btn-border-radius;
  outline: 0;
  //
  @each $name, $size in $btn-font-sizes {
    &.the-button--#{$name} {
      font-size: $size;
    }
  }

  @each $name, $color in $btn-colors {
    &.the-button--#{$name} {
      background-color: $color;
      border-color: $color;
    }
  }

  &.the-button--primary,
  &.the-button--secondary {
    &:not(.the-button--outlined) {
      color: map-deep-get($material-dark, 'text', 'primary');
    }
  }

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: inherit;
    pointer-events: none;
    content: '';
    background-color: currentColor;
    border-radius: inherit;
    opacity: 0;
  }

  &:not(.the-button--disabled) {
    // will-change: box-shadow;
  }


  @each $name, $size in $btn-sizes {
    &.the-button--#{$name} {
      &:not(.the-button--round) {
        min-width: #{round($size * 1.777777777777778)}px; // default ratio
        height: #{$size}px;
        padding: 0 #{$size / 2.25}px
      }
    }
  }

  > .the-button__content .icon {
    color: inherit;
  }

  &.the-button--outlined {
    border: $btn-outline-border-width solid currentColor;

    &::before {
      border-radius: 0;
    }
  }

  &.the-button--outlined,
  &.the-button--round {
    .the-button__content {
      .icon {
        color: currentColor;
      }
    }
  }

  &.the-button--outlined,
  &.the-button--flat,
  &.the-button--text {
    background-color: transparent;
  }

  &.the-button--round,
  &.the-button--rounded {
    &::before {
      border-radius: inherit;
    }
  }

  &.the-button--round {
    border-radius: 50%;
  }

  &.the-button--rounded {
    border-radius: $btn-rounded-border-radius;
  }

  &.the-button--tile {
    border-radius: 0;
  }

  &.the-button--full {
    display: flex;
    flex: 1 0 auto;
    min-width: 100% !important;
    // max-width: auto;
  }

  &.the-button--disabled {
    pointer-events: none;
    box-shadow: none;
  }

  &.the-button--icon,
  &.the-button--circle {
    min-width: 0;
    min-height: 0;
    padding: 0;

    @each $name, $size in $circle-icon-sizes {
      &.the-button--#{$name} {
        .icon {
          width: #{$size}px;
          height: #{$size}px;
          font-size: #{$size}px;
        }
      }
    }
  }

  &.the-button--icon {
    @each $name, $size in $btn-sizes {
      &.the-button--#{$name} {
        width: #{$size}px;
        height: #{$size}px;
      }
    }
  }

  &.the-button--circle {
    @each $name, $size in $circle-sizes {
      &.the-button--#{$name} {
        width: #{$size}px;
        height: #{$size}px;
      }
    }
  }
}

.bd__inner {
  position: relative;
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  justify-content: inherit;
  line-height: normal;
  color: inherit;

  .icon.icon--left,
  .icon.icon--right {
    width: $btn-icon-font-size;
    height: $btn-icon-font-size;
    font-size: $btn-icon-font-size;
  }
}

.the-button:not(.the-button--text):not(.the-button--outlined) {
  &.the-button--active::before {
    opacity: $btn-active-opacity;
  }

  &:hover::before {
    opacity: $btn-hover-opacity;
  }

  &:focus::before {
    opacity: $btn-focus-opacity;
  }
}
